.main {
    background-image: url('../resourses/backroundRestaurant.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smallPhoto{
    max-width: 70px;
    height: 70px;
}

section {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.my-hr {
    border: 1px solid #000; /* Set the border to make it visible */
    margin: 10px 0; /* Add some space above and below the horizontal line */
  }
  